::1	localhost	localhost.localdomain	localhost6	localhost6.localdomain6

127.0.0.1	localhost	localhost.localdomain	localhost4	localhost4.localdomain4
127.0.0.1	{{ ansible_hostname }}.novalocal	{{ ansible_hostname }}

# Nodes
10.10.1.6 node-1
10.0.4.10 node-2

# Switches
192.168.1.15 switch-1
192.168.1.14 switch-2
192.168.1.16 switch-3
192.168.1.17 switch-4

# Controller
192.168.1.18 controller
